   html {
    	background-color: #f6f6f6;
    }

    /* body { background: url( 'images/bg2.jpeg' ); background-size: 100%;} */
        /* A section is a slide. It's size is 800x600, and this will never change */
    section {
        /* The font from Google */
        font-family: 'Ubuntu', arial, serif;
        font-size: 30px;
    }

	ul.attribution {
		margin-left:142px;
		font-size: 15px;
	}

    h1 {
        margin-top: 85px;
    }

    h2 {
        margin-top: 200px;
    }

    h1, h2 {
        text-align: center;
        font-size: 80px;
    }

    h3 {
        margin: 100px 0 50px 100px;
    }

    a {
        text-decoration:none;
        color:black;
    }

    ul {
        margin: 50px 75px 50px 150px;
    }

    p {
        margin: 75px;
        font-size: 50px;
    }

    blockquote {
        height: 100%;
        background-color: black;
        color: white;
        font-size: 60px;
        padding: 50px;
    }
    blockquote:before {
        content: open-quote;
    }
    blockquote:after {
        content: close-quote;
    }

        /* Figures are displayed full-page, with the caption
   on top of the image/video */
    figure {
        background-color: black;
    }
    figcaption {
        margin: 70px;
        font-size: 50px;
    }

        /* Transition effect */
        /* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
    section {
        -moz-transition: left 400ms linear 0s;
        -webkit-transition: left 400ms linear 0s;
        -ms-transition: left 400ms linear 0s;
        transition: left 400ms linear 0s;
    }

        /* Before */
    section { left: -150%; }
        /* Now */
    section[aria-selected] { left: 0; }
        /* After */
    section[aria-selected] ~ section { left: +150%; }

        /* Incremental elements */

        /* By default, visible */
    .incremental > * { opacity: 1; }

        /* The current item */
    .incremental > *[aria-selected] { opacity: 1; }

        /* The items to-be-selected */
    .incremental > *[aria-selected] ~ * { opacity: 0.0842; }

        /* The progressbar, at the bottom of the slides, show the global
    progress of the presentation. */
    #progress-bar {
        height: 2px;
        background: #333;
    }

    .smallimg {
        max-height: 400px;
        max-width: 750px;
    }






    * { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    details { display: none; }
    body {
        width: 800px; height: 600px;
        margin-left: -400px; margin-top: -300px;
        position: absolute; top: 50%; left: 50%;
        overflow: hidden;
    }
    section {
        position: absolute;
        pointer-events: none;
        width: 100%; height: 100%;
    }
    section[aria-selected] { pointer-events: auto; }
    html { overflow: hidden; }
    body { display: none; }
    body.loaded { display: block; }
    .incremental {visibility: hidden; }
    .incremental[active] {visibility: visible; }
    #progress-bar{
        bottom: 0;
        position: absolute;
        -moz-transition: width 400ms linear 0s;
        -webkit-transition: width 400ms linear 0s;
        -ms-transition: width 400ms linear 0s;
        transition: width 400ms linear 0s;
    }
    figure {
        width: 100%;
        height: 100%;
    }
    figure > * {
        position: absolute;
    }
    figure > img, figure > video {
        width: 100%; height: 100%;
    }


   img.intehcentre {
       display: block;
       margin-left: 40px;
       top: 50%;
       margin-top: -50px;
       position: absolute;
   }

   img.popupkitteh {
       display: block;
       margin-left: 100px;
       top: 20%;
       margin-top: -50px;
       position: absolute;
   }