<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Component design</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

                <section>
                    <h2>Component design</h2>
                    <p>
                        Getting cohesion and coupling right
                    </p>

                    <p>
                        <br />
                        <small>
                            Created by
                            <a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">Jeroen De Dauw</a>
                            for <a href="https://wikimedia.de/">Wikimedia Deutschland</a>
                            <br />
                            Licensed <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
                        </small>
                    </p>

                    <p><br /><a href="http://bit.ly/component-design">
                        http://bit.ly/component-design
                    </a></p>
                </section>

                <section>

                    <section>
                        <h3>What are components?</h3>
                        <p class="fragment">
                            They are kinda like boxes<br />
                            <img src="img/cardboard-box.png" style="border: 0; background: transparent; box-shadow:none" />
                        </p>
                    </section>

                    <section>
                        <p>Except that they do stuff</p>

                        <img src="img/something-inside.gif" width="500px" />
                    </section>

                    <section>
                        <h3>What are components?</h3>
                        <img src="img/Component-based-Software-Engineering-example2.gif" width="700px">
                    </section>

                    <section>
                        <h3>Benefits of components</h3>
                        <p class="fragment roll-in highlight-current-green">Separation of concerns</p>
                        <p class="fragment roll-in highlight-current-green">Reusability</p>
                        <p class="fragment roll-in highlight-current-green">Encapsulation</p>
                        <p class="fragment roll-in highlight-current-green">Substitutability</p>
                        <p class="fragment roll-in highlight-current-green">Independently deployable</p>
                        <p class="fragment roll-in highlight-current-green">Independently developable</p>
                        <p class="fragment roll-in highlight-current-green">Divide and conquer</p>
                    </section>

                </section>

                <section data-transition="linear">
                    <h3>Designing components</h3>
                    <div class="fragment">
                        <p>
                            Which classes should go together in a component?
                            <span class="fragment" style="color:lightgreen"><br />&#8594; Principles of package cohesion</span>
                        </p>
                        <br />
                        <p>
                            How should components relate to each other?
                            <span class="fragment" style="color:lightgreen"><br />&#8594; Principles of package coupling</span>
                        </p>
                        <br />
                        <p class="fragment">
                            How big should a component be?
                        </p>
                    </div>
                </section>

                <section>
                    <section>
                        <h3>Coupling: Acyclic dependencies principle</h3>

                        <p class="fragment">Directed acyclic graph</p>
                    </section>

                    <section data-state="alert">
                        <img src="img/adp-violation.gif" width="700px">
                    </section>

                    <section data-state="soothe">
                        <img src="img/adp-compliance.gif" width="700px">
                    </section>

                    <section>
                        <img src="img/dip.jpg">
                    </section>

                    <section>
                        <img src="img/dep-graph.png" width="700px">
                    </section>

                    <section>
                        <img src="img/cat-chasing-tail.gif">
                    </section>
                </section>

                <section>
                    <section data-state="blackout">
                        <h3>Coupling: Stable-dependencies principle</h3>

                        <p>Depend in the direction of stability</p>
                    </section>
                </section>

                <section>
                    <section data-state="blackout">
                        <h3>Coupling: Stable-abstractions principle</h3>

                        <p>A package should be as abstract as it is stable</p>
                    </section>

                    <section>
                        <img src="img/phpdepend-graph.png">
                    </section>

                    <section>
                        <img src="img/abstractness-instability.png">
                    </section>
                </section>

                <section>
                    <section data-state="blackout">
                        <h3>Cohesion: Reuse-release equivalence principle</h3>

                        <p class="fragment roll-in highlight-current-blue">In order to be reused, a component must be released</p>
                        <p class="fragment roll-in highlight-current-blue">Granule of release is granule of reuse</p>
                        <p class="fragment roll-in highlight-current-blue">Either all reusable or not reusable</p>
                    </section>
                </section>

                <section>
                    <section data-state="blackout">
                        <h3>Cohesion: Common-closure principle</h3>
                        <p class="fragment roll-in highlight-current-green">Classes that change for the same reason should be in the same component</p>
                        <br />
                        <p class="fragment roll-in highlight-current-green">SRP extended to components</p>
                        <br />
                        <p class="fragment roll-in highlight-current-green">Changes should not span packages, and affect everything in the package</p>
                    </section>
                </section>

                <section>
                    <section data-state="blackout">
                        <h3>Cohesion: Common-reuse principle</h3>
                        <p class="fragment roll-in highlight-current-blue">Classes that are used together should be in the same component</p>
                        <br />
                        <p class="fragment roll-in highlight-current-blue">If you use one class from a package, you depend on them all</p>
                        <br />
                        <p class="fragment roll-in highlight-current-blue">Like ISP</p>
                    </section>

                    <section>
                        <img src="img/ISP.jpg">
                    </section>
                </section>

                <section>
                    <h3>Things not covered</h3>
                    <p class="fragment roll-in highlight-current-green">Interplay of the forces<br /></p>
                    <p class="fragment roll-in highlight-current-green">Evolution of components<br /></p>
                    <p class="fragment roll-in highlight-current-green">Components in a layered system<br /></p>
                    <img src="img/contain-it.gif" class="fragment" width="400px" />
                </section>

                <section data-state="blackout">
                    <p>Recommended reading</p>
                    <br />

                    <ul>
                        <li><small><a href="https://www.goodreads.com/book/show/8686650-continuous-delivery">Continuous delivery</a>, chapter 13 "managing Components and Dependencies"</small></li>
                        <li><small><a href="https://www.goodreads.com/book/show/3735293-clean-code">Clean Code</a>, chapter 11 "Systems"</small></li>
                        <li><small><a href="https://www.goodreads.com/book/show/3735293-clean-code">Patterns of Enterprise Application Architecture</a>, chapter 1 "Layering"</small></li>
                        <li><small><a href="http://cleancoders.com/category/component-design#videos">Clean Code component design videos</a></small></li>
                    </ul>

                    <p><br /><a href="http://bit.ly/component-design">
                        http://bit.ly/component-design
                    </a></p>
                </section>

            </div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
