<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Component design</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

        <style>
            .shadow { text-shadow: 1px 1px 3px #000, 4px 4px 5px darkblue; }

            .reveal .slides section .fragment.initially-hidden {
                visibility: hidden;
            }
        </style>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section data-background="img/wall.jpg" data-transition="linear">
                    <h2><span class="shadow">Component design</span></h2>
                    <p class="shadow">
                        Getting cohesion and coupling right
                    </p>

                    <p class="shadow">
                        <br />
                        <small>
                            Created by
                            <a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">Jeroen De Dauw</a>
                            for <a href="https://wikimedia.de/">Wikimedia Deutschland</a>
                            <br />
                            Licensed <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
                        </small>
                    </p>

                    <p class="shadow"><br /><a href="http://bit.ly/component-design">
                        http://bit.ly/component-design
                    </a></p>
                </section>

                <section>

                    <section>
                        <h3>What are components?</h3>
                        <p class="fragment">
                            They are kinda like boxes<br />
                            <img src="img/cardboard-box.png" style="border: 0; background: transparent; box-shadow:none" />
                        </p>
                    </section>

                    <section>
                        <p>Except that they do stuff</p>

                        <img src="img/something-inside.gif" width="500px" />
                    </section>

                    <section>
                        <h3>What are components?</h3>
                        <img src="img/Component-based-Software-Engineering-example2.gif" width="700px">
                    </section>

                    <section>
                        <h3>Benefits of components</h3>
                        <p class="fragment highlight-current-green initially-hidden">Separation of concerns</p>
                        <p class="fragment highlight-current-green initially-hidden">Reusability</p>
                        <p class="fragment highlight-current-green initially-hidden">Encapsulation</p>
                        <p class="fragment highlight-current-green initially-hidden">Substitutability</p>
                        <p class="fragment highlight-current-green initially-hidden">Independently deployable</p>
                        <p class="fragment highlight-current-green initially-hidden">Independently developable</p>
                        <p class="fragment highlight-current-green initially-hidden">Divide and conquer</p>
                    </section>

                </section>

                <section data-transition="linear">
                    <h3>Designing components</h3>
                    <div class="fragment">
                        <p>
                            Which classes should go together in a component?
                            <span class="fragment" style="color:lightgreen"><br />&#8594; Principles of package cohesion</span>
                        </p>
                        <br />
                        <p>
                            How should components relate to each other?
                            <span class="fragment" style="color:lightgreen"><br />&#8594; Principles of package coupling</span>
                        </p>
                        <br />
                        <p class="fragment">
                            Aim: make development and usage as painless as possible
                        </p>
                    </div>
                </section>

                <section>
                    <section>
                        <h3>Coupling principles</h3>

                        <p style="color:lightgreen">How should components relate to each other?</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Acyclic dependencies principle</h3>

                        <p class="fragment">Directed acyclic graph</p>
                    </section>

                    <section data-background="rgba( 200, 50, 30, 0.6 )">
                        <img src="img/adp-violation.gif" width="700px">
                    </section>

                    <section data-background="rgba( 50, 200, 90, 0.4 )">
                        <img src="img/adp-compliance.gif" width="700px">
                    </section>

                    <section>
                        <img src="img/dip.jpg">
                    </section>

                    <section>
                        <img src="img/dep-graph.png" width="700px">
                    </section>

                    <section>
                        <img src="img/cat-chasing-tail.gif">
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Stable-dependencies principle</h3>

                        <p>Depend in the direction of stability</p>

                        <p style="color:red" class="fragment">Very stable &#10140; somewhat stable &#10140; unstable</p>

                        <p style="color:green" class="fragment">Unstable &#10140; somewhat stable &#10140; very stable</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Stable-abstractions principle</h3>

                        <p class="fragment" style="color:lightgreen">A package should be as abstract as it is stable</p>

                        <p class="fragment" style="color:lightgreen; font-size: large">Allows us to satisfy SDP while depending on abstractions and retaining changeability</p>

                        <p class="fragment">Abstract = # abstract classes / # classes </p>

                        <p class="fragment">Stable = # dependents / # components</p>
                    </section>

                    <section>
                        <img src="img/phpdepend-graph.png" width="600px">
                    </section>

                    <section>
                        <img src="img/abstractness-instability.png" width="600px">
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Cohesion principles</h3>

                        <p style="color:lightgreen">Which classes should go together in a component?</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Reuse-release equivalence principle</h3>

                        <p class="fragment initially-hidden highlight-current-blue">In order to be reused, a component must be released</p>
                        <p class="fragment initially-hidden highlight-current-blue">Granule of release is granule of reuse</p>
                        <p class="fragment initially-hidden highlight-current-blue">Either all reusable or not reusable</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Common-closure principle</h3>
                        <p class="fragment initially-hidden highlight-current-green">Classes that change for the same reason should be in the same component</p>

                        <p class="fragment initially-hidden highlight-current-green">
                            Changes should not span packages<span class="fragment">,
                            <span style="color: #17ff2e"><strong>and</strong> affect everything in the package</span></span>
                        </p>
                    </section>

                    <section data-background="img/srp.jpg">
                    </section>
                </section>

                <section>
                    <section>
                        <h3>Common-reuse principle</h3>
                        <p class="fragment initially-hidden highlight-current-blue">Classes that are used together should be in the same component</p>
                        <br />
                        <p class="fragment initially-hidden highlight-current-blue">If you use one class from a package, you depend on them all</p>
                        <br />
                        <p class="fragment initially-hidden highlight-current-blue">Like ISP</p>
                    </section>

                    <section>
                        <img src="img/ISP.jpg">
                    </section>
                </section>

                <section>
                    <h3>Things not covered</h3>
                    <p class="fragment initially-hidden highlight-current-green">Interplay of the forces<br /></p>
                    <p class="fragment initially-hidden highlight-current-green">Evolution of components<br /></p>
                    <p class="fragment initially-hidden highlight-current-green">Components in a layered system<br /></p>
                    <img src="img/contain-it.gif" class="fragment" width="400px" />
                </section>

                <section>
                    <p>Recommended reading</p>
                    <br />

                    <ul>
                        <li><small><a href="https://www.goodreads.com/book/show/8686650-continuous-delivery">Continuous delivery</a>, chapter 13 "managing Components and Dependencies"</small></li>
                        <li><small><a href="https://www.goodreads.com/book/show/3735293-clean-code">Clean Code</a>, chapter 11 "Systems"</small></li>
                        <li><small><a href="https://www.goodreads.com/book/show/3735293-clean-code">Patterns of Enterprise Application Architecture</a>, chapter 1 "Layering"</small></li>
                        <li><small><a href="http://cleancoders.com/category/component-design#videos">Clean Code component design videos</a></small></li>
                    </ul>

                    <p><br /><a href="http://bit.ly/component-design">
                        http://bit.ly/component-design
                    </a></p>
                </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

        <script>
            Reveal.addEventListener( 'fragmentshown', function( event ) {
                if ( event.fragment.classList.contains( 'initially-hidden' ) ) {
                    event.fragment.style.visibility = 'visible';
                }
            } );
            Reveal.addEventListener( 'fragmenthidden', function( event ) {
                if ( event.fragment.classList.contains( 'initially-hidden' ) ) {
                    event.fragment.style.visibility = 'hidden';
                }
            } );
        </script>

	</body>
</html>
